# Compiled class files
*.class

# IDEs
## IntelliJ IDEA
.idea/
*.iml
*.iws

## Eclipse
.settings/
.project
.classpath

# Maven
target/

# Gradle
build/

# Mac system files
.DS_Store

# Windows system files
Thumbs.db

# Logs and temporary files
*.log
*.tmp
*.swp

# Arquivos de build
*.jar
*.war
*.ear

# Arquivos de configuração de depuração
*.launch

# Arquivos específicos de IDE que não devem ser versionados
*.suo
*.user
*.userosscache
*.ntvs_analysis.dat
*.njsproj
*.sln


# Diretórios temporários de editores
*.tmp/
*.bak/
*.swp/
